$auth-modal-bg: #FFFFFF;
$auth-input-text: #CECECF;
$auth-input-bg-disabled: #CCCCCC;
$auth-input-bg-enabled: #2ED2BA;
$auth-input-text-enabled: #FFFFFF;
$auth-forgot-password-bg-hover: #1CA892;
$auth-forgot-password-text: #2ED2BA;

$language-button-text-border: #2ED2BA;
$language-button-bg-hover: #259687;
$language-button-active-bg: #2ED2BA;

$restaurant-item-bg: #FFFFFF;
$restaurant-item-text: #666;
$restaurant-profile-button-bg: #2ED2BA;
$restaurant-profile-button-bg-hover: #1CA892;

$content-container-bg: #FFFFFF;
$content-profile-button-bg: #2ED2BA;
$content-profile-button-bg-hover: #1CA892;

$profile-logout-button-bg: #ff4b5c;
$profile-close-button-bg: #ccc;
$profile-close-button-bg-hover: #bbb;
